<div class="meni-moj-stil">
  <div class="ui container">
    <div class="ui secondary menu">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="item"
      >
        Početna
      </a>
      <a
        routerLink="prijava"
        routerLinkActive="active"
        class="item"
        *ngIf="!prijavljen"
      >
        Prijava
      </a>
      <a
        routerLink="registracija"
        routerLinkActive="active"
        class="item"
        *ngIf="!prijavljen"
      >
        Registracija
      </a>
      <a
        routerLink="posta"
        routerLinkActive="active"
        class="item"
        *ngIf="prijavljen"
      >
        Pošta
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item" *ngIf="prijavljen"> Odjavi se </a>
      </div>
    </div>
  </div>
</div>

<!-- <app-prognoza></app-prognoza> -->
<app-lista-obavestenja></app-lista-obavestenja>

<div class="ui container">
  <div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <router-outlet></router-outlet>
    </div>
    <div class="three wide column"></div>
  </div>
</div>
