<div class="field">
  <label>{{ naziv }}</label>
  <input *ngIf="textAreaTip === false" [formControl]="kontrola" [type]="tipPolja" />
  <textarea *ngIf="textAreaTip === true" [formControl]="kontrola"></textarea>
  <div
    *ngIf="kontrola.dirty && kontrola.errors"
    class="ui pointing red basic label"
  >
<p *ngIf="kontrola.hasError('required')">Polje je obavezno</p>
<p *ngIf="kontrola.hasError('minlength')">Minimum 4 karaktera</p>
<p *ngIf="kontrola.hasError('maxlength')">Maksimum 20 karaktera</p>
<p *ngIf="kontrola.hasError('pattern')">Loš format</p>
<p *ngIf="kontrola.hasError('imeVecPostoji')">Korisničko ime se već koristi</p>
<p *ngIf="kontrola.hasError('email')">Uneti validan format e-mejla</p>
<p *ngIf="kontrola.hasError('noConnection')">
    Problem sa konekcijom
  </p>
</div>
</div>
