<br />
<div class="ui grid">
  <div class="thirteen wide column">
    <h2 class="ui header">Vaše poruke</h2>
  </div>
  <div class="three wide column">
    <p><i>{{korisnik}}@angular-email.com</i></p>
  </div>
</div>
<div class="ui divider"></div>

<div class="ui grid">
  <div class="five wide column okvir1">
    <app-posta-nova-poruka></app-posta-nova-poruka>
    <br/>
    <app-posta-lista></app-posta-lista>
  </div>
  <div class="ten wide column okvir2">
    <router-outlet></router-outlet>
  </div>
</div>
